.AppInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.AppInfo ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
.AppInfo ul li{
    margin: 20px;
    color: black;
    text-decoration: none;
}
.AppInfo ul li a{
  
    color: black;
    text-decoration: none;
}
.AppInfo p{
    margin-top: 40px;
}